<h1>Admin::Overview#index</h1>
<p>Find me in app/views/backoffice/overview/index.html.erb</p>
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Logout", destroy_session_path(:account), method: :delete %></li>
</ul>
