<h1>Harbor</h1>
<ul>
  <li><%= link_to "Login Usu치rio", new_session_path(:user) %></li>
  <li><%= link_to "Cadastro Usu치rio", new_registration_path(:user) %></li>
  <li></hr></li>
  <li><%= link_to "Login Funcion치rio", new_session_path(:account) %></li>
  <li><%= link_to "Cadastro Funcion치rio", new_registration_path(:account) %></li>
</ul>
